{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="font-size: 34px !important;">
        Désolé,
    </h1>
    <h2 style="font-size: 28px !important; text-align: center">
        Cette page n’existe pas / plus (erreur 404).
    </h2>

    <h3 style="font-size: 24px !important; text-align: center">
        Rendez-vous sur l’une de nos autres pages pour poursuivre votre visite.
    </h3>
    <h3 style="font-size: 24px !important; text-align: center">
        <a style="text-decoration: underline; color: blue;" href="/">Page d'accueil</a>
    </h3>

{% endblock %}

{% block footer %}{% endblock %}