{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="font-size: 34px !important;">Sorry,</h1>
    <h2 style="font-size: 28px !important; text-align: center">
        This page does not exist / more (error 404).
    </h2>

    <h3 style="font-size: 24px !important; text-align: center">
        Visit one of our other pages to continue your visit.
    </h3>
    <h3 style="font-size: 24px !important; text-align: center">
        <a style="text-decoration: underline; color: blue;" href="/">Home page</a>
    </h3>

{% endblock %}

{% block footer %}{% endblock %}