{% extends 'templates/front/base.html.twig' %}

{% block body %}

    <div class="wrapper-page remodal-bg">
        <div class="container container-smooth">
            {#<div class="cart-body">#}

            <h1>Questions</h1>
            <div style="font-size: 16px">Questions</div>

            {#</div>#}
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
